.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #181818;
    padding: 30px 20px;
    border-right: 2px solid #ffcc00;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .logoBox {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .logoText {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #e0e0e0;
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.2s;
  }
  
  .link:hover {
    background: #222;
    color: #ffcc00;
  }
  
  .icon {
    font-size: 20px;
  }