* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}


button {
  font-family: inherit;
  cursor: pointer;
}